{% extends "guides/_base_guides.html" %}

{% block page_title %}{{ guide.title }} - {{ super() }}{% endblock %}

{% block article_class %}guide-detail{% endblock %}
{% block content %}
<h1 class="maintopic">Guides</h1>

    <section id="guide-header" class="page-block">
        <header>
            {% if guide.image %}
                <div class="image-full-width-wrapper">
                    <img src="{{ MEDIA_URL }}{{ thumbnail(guide.image, "800") }}" alt="{{ guide.title }}">
                    {% if guide.pretty_caption %}<p class="caption">{{ guide.pretty_caption|typogrify|safe }}</p>{% endif %}
                </div>
            {% endif %}

            <h1>{{ guide.title|typogrify }}</h1>
        </header>
        {{ guide.description_or_summary|linebreaks|typogrify|safe }}
    </section>

    <section id="guide-articles">
        {% for guidearticle in guide.get_live_article_set() %}
            {% if guidearticle.article_notes %}<p class="notes"><em>{{ guidearticle.article_notes|typogrify|safe }}</em></p>{% endif %}
            {% with article=guidearticle.article %}
                {% include "articles/_article_list_item.html" %}
            {% endwith %}
        {% endfor %}
    </section>
{% endblock content %}