{% extends "base.html" %}

{% block content %}
<div class="page-block">
    <h1 class="maintopic"><a href="{{ url('haystack_search') }}">Search</a></h1>
</div>

<div class="page-block">

    <form class="search-form" method="get" action=".">
        {{ form.q }}
        <input class="btn" type="submit" value="Search">
    </form>

        {% if query %}
            <h2>Results</h2>

            {% for result in page.object_list %}
                {% if result.content_type() == "articles.article" %}
                    {% with article = result.object %}{% include "search/includes/_article_list_item.html" %}{% endwith %}
                {% endif %}
                {% if result.content_type() == "code.code" %}
                    {% with code = result.object %}{% include "search/includes/_code_list_item.html" %}{% endwith %}
                {% endif %}
            {% else %}
                <p>No matching results found.</p>
            {% endfor %}

            {% if page.has_previous() or page.has_next() %}
                <div>
                    {% if page.has_previous() %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous() %}</a>{% endif %}
                    |
                    {% if page.has_next() %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next() %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
</div>
{% endblock content %}
