{% extends "base.html" %}
{% set active_nav = "search" %}
{% block page_title %}Search - {{ super() }}{% endblock %}

{% block content %}
<div class="page-block">
    <h1 class="maintopic"><a href="{{ url('haystack_search') }}">Search</a></h1>
</div>

<div class="page-block">

    <form class="search-form" method="get" action=".">
        {{ form.q }}
        <input class="btn" type="submit" value="Search">
    </form>

    {% if query %}
        <h2>Results</h2>

        {% for result in page.object_list %}
            {% set result_type = result.content_type().split('.')[1] %}
            {% with object = result.object  %}
                {% include "search/includes/_%s_list_item.html" % result_type %}
            {% endwith %}
        {% else %}
            <p>No matching results found.</p>
        {% endfor %}

        {% include "utils/_paginate.html" %}
    {% else %}
        <p>Search Source&rsquo;s articles, code, people and organizations.</p>
    {% endif %}
</div>
{% endblock content %}
