[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-browserid"]
	path = vendor-local/src/django-browserid
	url = https://github.com/mozilla/django-browserid.git
[submodule "vendor-local/src/requests"]
	path = vendor-local/src/requests
	url = https://github.com/kennethreitz/requests.git
[submodule "vendor-local/src/django-south"]
	path = vendor-local/src/django-south
	url = git://github.com/lambdafu/django-south.git
[submodule "vendor-local/src/django-taggit"]
	path = vendor-local/src/django-taggit
	url = git://github.com/alex/django-taggit.git
