<span class="category">{% if article.article_type %}<a href="{{ url('article_list_by_category', article.article_type) }}">{{ article.get_article_type_display() }}</a>{% endif %}{% if article.tags.all().exists() %} <span class="tags">{% for tag in article.tags.all() %}<a href="{{ url('article_list_by_tag', tag.slug) }}">{{ tag }}</a>{% if not loop.last %} {% endif %}{% endfor %}</span>{% endif %}</span>

{# TODO: enable support for split tag fields by switching to list code below

<span class="category">{% if article.article_type %}<a href="{{ url('article_list_by_category', article.article_type) }}">{{ article.get_article_type_display() }}</a>{% endif %}{% if article.merged_tag_list %} <span class="tags">{% for tag in article.merged_tag_list %}<a href="{{ url('article_list_by_tag', tag.slug) }}">{{ tag }}</a>{% if not loop.last %} {% endif %}{% endfor %}</span>{% endif %}</span>
#}
