{% extends "base.html" %}
{% if section %}{% set active_nav = section.slug %}{% endif %}

{% block content %}
{% if section %}
<div class="page-block">
    <h1 class="maintopic"><a href="{{ url('article_list_by_section', section.slug) }}">{{ section.name }}</a>{% if category %} / <span class="category">{{ category }}</span>{% endif %}{% if tag %} / <span class="category">{{ tag.name }}</span>{% endif %}</h1>
</div>
{% endif %}

{% for article in object_list %}
    <div class="page-block">
        <h2>{% include "articles/_article_category_and_tags_overline.html" %}<a href="{{ article.get_absolute_url() }}">{{ article.title }}</a></h2>
        <ul class="link-list link-list-inline">
            {% if article.authors.all().exists() %}<li>{% with author_list = article.authors.all() %}{% include "articles/_article_author_list.html" %}{% endwith %}</li>{% endif %}
            {% with person_link_list = article.people.all() %}
            {% include "people/_person_link_list_inline.html" %}{% endwith %}
            {% with organization_link_list = article.organizations.all() %}
            {% include "people/_organization_link_list_inline.html" %}{% endwith %}
        </ul>
        <p>{{ article.summary|safe }}</p>
    </div>
{% endfor %}
{% endblock content %}