{% extends "articles/_base_articles.html" %}

{% block article_class %}section-with-promos{% endblock %}

{% block content %}
{% if section %}
    {% include "articles/_article_list_section_overline.html" %}
{% endif %}

{% if section.description %}<p class="intro">{{ section.description|safe }}</p>{% endif %}

{% if lead_promo %}
    {% with article=lead_promo %}
        <a class="page-block lead promo" href="{{ article.get_absolute_url() }}">
            {% if article.image %}<img src="{{ MEDIA_URL }}{{ thumbnail(article.image, "525x400", crop="center") }}" alt="{{ article.title }}" onerror="this.style.display='none'">{% endif %}
            <h2>
                <span class="category">{% if article.category %}{{ article.category.name }}{% endif %}{% if article.tags.all().exists() %} <span class="tags">/ {% for tag in article.tags.all() %}{{ tag.name|smartypants }}{% if not loop.last %} {% endif %}{% endfor %}</span>{% endif %}</span>
                {{ article.title|typogrify }}
            </h2>
            <p>{{ article.safe_summary|typogrify|safe }}</p>
        </a>
    {% endwith %}

    <div class="secondary-promo-wrap">
        {# two secondary promo items go in here #}
        {% for article in secondary_promos %}
            <a class="page-block promo secondary-promo{% if not loop.first %} second-promo{% endif %}" href="{{ article.get_absolute_url() }}">
                {% if article.image %}<img src="{{ MEDIA_URL }}{{ thumbnail(article.image, "200x90", crop="center") }}" alt="{{ article.title }}" onerror="this.style.display='none'">{% endif %}
                <h2>
                    <span class="category">{% if article.category %}{{ article.category.name }}{% endif %}{% if article.tags.all().exists() %} <span class="tags">/ {% for tag in article.tags.all() %}{{ tag }}{% if not loop.last %} {% endif %}{% endfor %}</span>{% endif %}</span>
                    {{ article.title|typogrify }}
                </h2>
                <p>{{ article.safe_summary|typogrify|safe }}</p>
            </a>
        {% endfor %}
    </div>
{% endif %}

{% if lead_promo and page.object_list|length > 3 %}
    <p class="intro"><b>More case studies:</b></p>
{% endif %}

{% for article in page.object_list %}
    {# if we have promos on this page, don't include those articles in list #}
    {% if article.pk not in articles_to_exclude_from_list %}
        {% include "articles/_article_list_item.html" %}
    {% endif %}
{% endfor %}

{% include "utils/_paginate.html" %}
{% endblock content %}

{% block site_js_extra %}
<script type="text/javascript">
var disqus_shortname = 'source-opennews';
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '{{ HTTP_PROTOCOL }}://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endblock %}
