{% extends "base.html" %}

{% block site_js_extra %}
<script src="{{ MEDIA_URL }}js/jquery.syntaxhighlighter.min.js"></script>
<script type="text/javascript">
    $.SyntaxHighlighter.init();
</script>
{% endblock %}

{% block article_class %}article-detail{% endblock %}
{% block content %}
    <h2>{% include "articles/_article_category_and_tags_overline.html" %}{{ article.title }}</h2>
    <h4>{{ article.subhead }}</h4>
    
    <aside>
        <div class="byline">
            <h6 class="date">{{ article.pretty_pubdate }}</h6>
            {% if article.authors.all().exists() %}<h6 class="byline-name">{% with author_list = article.authors.all() %}{% include "articles/_article_author_list.html" %}{% endwith %}</h6>{% endif %}
            <ul class="link-list">
                <li><i class="icon-comments"></i><a href="{{ article.get_absolute_url() }}#disqus_thread">Comments</a></li>
            </ul>
        </div>
        
        {% with code_link_list = article.code.all() %}
        {% include "code/_code_link_list.html" %}{% endwith %}

        {% with person_link_list = article.people.all() %}
        {% include "people/_person_link_list.html" %}{% endwith %}

        {% with organization_link_list = article.organizations.all() %}
        {% include "people/_organization_link_list.html" %}{% endwith %}
    </aside>
    
    <p>{{ article.body|safe|nl2br }}</p>
    
    {% for articleblock in article.articleblock_set.all() %}
    <div class="page-block">
        <h3 id="{{ articleblock.slug }}">{{ articleblock.title }}</h3>
        <p>{{ articleblock.body|safe|nl2br }}</p>
    </div>
    {% endfor %}
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'source-opennews';
        //var disqus_developer = 1; // developer mode is on
        var disqus_identifier = 'article_detail_{{ article.pk }}';
        var disqus_url = '//{{ request.get_host() }}{{ article.get_absolute_url() }}';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock content %}