{% extends "base.html" %}
{% if section %}{% set active_nav = section.slug %}{% endif %}

{% block content %}
{% if section %}
<div class="page-block">
    <h1>{{ section.name }}</h1>
</div>
{% endif %}

{% for article in object_list %}
    <div class="page-block">
        <h2>{{ article.get_article_type_display() }}: <a href="{{ article.get_absolute_url() }}">{{ article.title }}</a></h2>
        <ul class="link-list link-list-inline">
            {% if article.author %}<li>By <a href="{{ article.author.get_absolute_url() }}">{{ article.author.name() }}</a></li>{% endif %}            
            {% with person_link_list = article.people.all() %}
            {% include "people/_person_link_list_inline.html" %}{% endwith %}
            {% with organization_link_list = article.organizations.all() %}
            {% include "people/_organization_link_list_inline.html" %}{% endwith %}
        </ul>
        <p>{{ article.summary }}</p>
    </div>
{% endfor %}
{% endblock content %}