{% extends "code/_base_code.html" %}

{% block page_title %}{{ code.name }} - {{ super() }}{% endblock %}

{% block content %}
<div class="page-block">
    <h1 class="maintopic"><a href="{{ url('code_list') }}">Code</a></h1>
</div>

<div class="page-block">
    <h2 id="code-name">{% include "code/_code_category_and_tags_overline.html" %}{{ code.name }}</h2>

    {% if code.screenshot %}
        <div class="image-inset-right-wrapper">
            <img src="{{ MEDIA_URL }}{{ thumbnail(code.screenshot, "300") }}" alt="{{ code.name }}">
        </div>
    {% endif %}

    {% if code.description %}{{ code.description|linebreaks|safe }}{% endif %}
    <ul class="link-list" id="code-details">
        <li>
            <i class="icon-home"></i><a id="code-url" href="{{ code.url }}">Project home</a>
            {% if code.is_active %}<i class="icon-ok" style="margin-left: 1em;"></i>Active project{% endif %}
            {% if code.seeking_contributors %}<i class="icon-ok" style="margin-left: 1em;"></i>Seeking contributors{% endif %}
        </li>
    </ul>
</div>

<div class="page-block">
    {% if not '//github.com/' in code.url %}
        {% with person_link_list = code.people.all() %}
        {% include "people/_person_link_list.html" %}{% endwith %}

        {% with organization_link_list = code.organizations.all() %}
        {% include "people/_organization_link_list.html" %}{% endwith %}
    
        {% with article_link_list = code.article_set.all() %}
        {% include "articles/_article_link_list.html" %}{% endwith %}
    
        {% with basic_link_list = code.codelink_set.all() %}
        {% include "utils/_basic_link_list.html" %}{% endwith %}
    {% else %}
    <div class="code-repo-browse">
        <h5 class="list-header">Browse this repo / <a href="{{ code.url }}">Fork this repo</a></h5>
        <div id="repo"></div>
    </div>
    
    <div class="code-repo-meta">
        {% with person_link_list = code.people.all() %}
        {% include "people/_person_link_list.html" %}{% endwith %}
    
        {% with organization_link_list = code.organizations.all() %}
        {% include "people/_organization_link_list.html" %}{% endwith %}
    
        {% with article_link_list = code.article_set.all() %}
        {% include "articles/_article_link_list.html" %}{% endwith %}
    
        {% with basic_link_list = code.codelink_set.all() %}
        {% include "utils/_basic_link_list.html" %}{% endwith %}
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block site_js_extra %}
{% if '//github.com/' in code.url %}
<script src="{{ MEDIA_URL }}js/date.js"></script>
<script src="{{ MEDIA_URL }}js/repo.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var sourceData = {};
    sourceData.github_location = '{{ code.url }}'.split('github.com/')[1];
    sourceData.github_user = sourceData.github_location.split('/')[0];
    sourceData.github_repo = sourceData.github_location.split('/')[1];
    $('#repo').repo({ user: sourceData.github_user, name: sourceData.github_repo });
    sourceData.github_api_url='https://api.github.com/repos/' + sourceData.github_user + '/' + sourceData.github_repo + '?callback=?';
    $.getJSON(sourceData.github_api_url, function(data) {
        sourceData.github_last_push = new Date(data.data['pushed_at']).toString('dddd, MMM d, yyyy');
        sourceData.github_forks = data.data['forks'];
        sourceData.github_watchers = data.data['watchers'];
        sourceData.github_details = '<li class="spacers"><i class="icon-github"></i><span>Forks: ' + sourceData.github_forks + '</span><span>Watchers: ' + sourceData.github_watchers + '</span><span>Last push: ' + sourceData.github_last_push + '</span></li>'
        {% if not code.description %}
        if (data.data['description']) {
            $('#code-details').before('<p>' + data.data['description'] + '</p>');
        }
        {% endif %}
        $('#code-details').append(sourceData.github_details);
    });
});
</script>
{% endif %}
{% endblock %}
