{% extends "jobs/_base_jobs.html" %}

{% block content %}
<h1 class="maintopic">Jobs</h1>

<table>
    <thead>
        <tr>
            <th>Job<span class="tinyhide">  / Organization</span></th>
            <th>Contact</th>
            <th>Listing<span class="tinyhide"> date</span></th>
        </tr>
    </thead>
    <tbody>
        {% for job in object_list %}
        <tr>
            <td>{{ job.name|title }}, <span class="cell-secondary"><a href="{{ job.organization.get_absolute_url() }}">{{ job.organization.name }}</a></span></td>
            <td>
                {% if job.url %}<a href="{{ job.url }}">Job page</a>{% endif %}
                {% if job.url and job.get_contact_email %} / {% endif %}
                {% if job.get_contact_email %}<a href="mailto:{{ job.get_contact_email }}">Email</a>{% endif %}
            </td>
            <td>{{ job.pretty_start_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
