<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <title>{% block page_title %}Source: An OpenNews project{% endblock %}</title>
        <meta name="description" content="Source - Journalism Code, Context & Community">
        <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1;">
        {% compress css %}
            <link href="{{ static('base/css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ static('base/css/font-awesome.css') }}" rel="stylesheet">
            <link href="{{ static('base/css/app.css') }}" rel="stylesheet">
        {% endcompress %}
        <!--[if IE 7]>
        <link href="{{ static('base/css/font-awesome-ie7.min.css') }}" rel="stylesheet">
        <![endif]-->
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        {% if APP_MSG %}
            <link rel="stylesheet" href="{{ static('base/css/warnr.css') }}">
        {% endif %}
        {% if rss_link %}
        <link rel="alternate" href="{{ rss_link }}" type="application/rss+xml" title="RSS" />
        {% endif %}
        <link rel="shortcut icon" href="{{ static('base/img/favicon.ico') }}" />
        {% compress js %}
            <script src="{{ static('base/js/libs/modernizr-2.0.6.min.js') }}"></script>
        {% endcompress %}
        {% if not settings.DEBUG %}
            {% block google_analytics %}
                <script type="text/javascript">
                    var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', 'UA-35433268-15']);
                    _gaq.push(['_setDomainName', 'mozillaopennews.org']);
                    _gaq.push(['_trackPageview']);

                    (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                    })();
                </script>
            {% endblock %}
        {% endif %}
        {% block head_extra %}{% endblock %}
    </head>
    <body>
        <header id="topbar">
            {% if APP_MSG %}
                <div id="app_stage_box" class="whimper">
                    <div class="busta">{{ APP_MSG|safe }}</div>
                </div>
            {% endif %}
            <div class="container">
                <form class="search-form" method="get" action="{{ url('haystack_search') }}">
                    <input type="text" name="q" id="id_q" />
                    <input class="btn" type="submit" value="Search">
                </form>
                
                {% set navigation_links = [
                    ('/articles/', 'articles', 'Features'),
                    ('/learning/', 'learning', 'Learn<span class="tinyhide">ing</span>'),
                    ('/people/', 'community', 'Community'),
                    ('/code/', 'code', 'Code'),
                    ('/search/', 'search', 'Search'),
                ] -%}
                {% set active_nav = active_nav %}
                <ul id="navigation">
                {% for url, id, name in navigation_links %}
                    <li{% if id == active_nav %} class="active"{% endif %} id="nav-{{ id }}"><a href="{{ url|e }}">{{ name|safe|e }}</a></li>
                {% endfor %}
                </ul>

                <a href="{{ url('homepage') }}"><img src="{{ static('base/img/source_retina_top.png') }}" alt="Source" class="sourcelogomin"></a>
            </div>
        </header>
        <div class="content">
            <div class="container page-block">
                <a href="{{ url('homepage') }}"><img id="main-logo" src="{{ static('base/img/source_retina.png') }}" alt="Source"></a>
                {% block base_tagline %}{% endblock %}
            </div>
        
            <div class="container">
                {% block base_above_article %}{% endblock %}
                <article class="{% block article_class %}{% endblock %}">{% block content %}{% endblock %}</article>
                {% block base_aside %}{% endblock %}
                {% block base_below_article %}{% endblock %}
            </div>
        </div>
        <footer class="container">{% block footer %}
            <section class="external">
             <div class="col">
                <h2>Connect with Source</h2>
                <ul>
                    {% if rss_link %}<li><i class="icon-rss"></i><a type="application/rss+xml" href="{{ rss_link }}">RSS for this page</a></li>{% endif %}
                    {% if json_link %}<li><i class="icon-rss"></i><a type="application/json" href="{{ json_link }}">JSON for this page</a></li>{% endif %}
                    <li><i class="icon-envelope-alt"></i><a href="mailto:opennews@mozillafoundation.org">Contact us</a></li>
                    <li><a href="/contribute/">Contribute code and articles</a></li>
                    <li><a href="/subscribe/">Subscribe to our email update</a></li>
                    <li>Connect on Twitter <a href="http://twitter.com/source" class="twitter-follow-button" data-show-count="false">@source</a></li>
                    <li><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/80x15.png" /></a> <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"> CC Attribution 3.0</a>
                </ul>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="col">
                <h2>About Source</h2>
                <p>Source is a <a href="http://www.mozillaopennews.org">Knight-Mozilla OpenNews</a> project designed to amplify the impact of journalism code and the community of developers, designers, journalists, and editors who make it. Learn more <a href="/about/">about the project</a> or <a href="/contribute/">contribute your work</a>.</p>
            </div>
            <div class="col">
                <h2>About OpenNews</h2>
                <p>A multi-year partnership between <a href="http://www.mozilla.org/foundation/">Mozilla</a> and the <a href="http://www.knightfoundation.org/">Knight Foundation</a>, Knight-Mozilla OpenNews is dedicated to creating an ecosystem to help strengthen and build community around journalism on the web. More at <a href="http://mozillaopennews.org">mozillaopennews.org</a>.</p>
            </div>
       </section>
        {% endblock footer %}</footer>

        {% block site_js %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"{{ static('base/js/libs/jquery-1.7.2.min.js') }}\"><\/script>")</script>
        {% compress js %}
            <script src="{{ static('base/js/app.js') }}"></script>
        {% endcompress %}
        {% endblock %}
        {% block site_js_extra %}{% endblock %}
        <!-- Page generated: {{ get_timestamp() }} -->
    </body>
</html>

