<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <title>{% block page_title %}Source: An OpenNews project{% endblock %}</title>
        <meta name="description" content="Source - Journalism Code, Context & Community">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block site_css %}
        {{ css('sourceapp_css') }}
        {% endblock %}
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <script src="{{ MEDIA_URL }}js/libs/modernizr-2.0.6.min.js"></script>
        {% block head_extra %}{% endblock %}
        {% if rss_link %}
        <link rel="alternate" href="{{ rss_link }}" type="application/rss+xml" title="RSS" />
        {% endif %}
        <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" />
    </head>
    <body>
        <header id="topbar">
            <div class="container">
                <a href="http://www.mozillaopennews.org"><img src="{{ MEDIA_URL }}img/opennewsmini.png" class="opennews"></a>
                <img src="{{ MEDIA_URL }}img/sourcemin.png" class="sourcelogomin">
                {% set navigation_links = [
                    ('/', 'features', 'Features'),
                    ('/people/', 'community', 'Community'),
                    ('/code/', 'code', 'Code'),
                    ('/search/', 'search', 'Search'),
                ] -%}
                {% set active_nav = active_nav %}
                <ul id="navigation">
                {% for url, id, name in navigation_links %}
                    <li{% if id == active_nav %} class="active"{% endif %}><a href="{{ url|e }}">{{ name|e }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </header>
        <div class="content">
            <div class="container page-block">
                <a href="{{ url('homepage') }}"><img id="main-logo" src="{{ MEDIA_URL }}img/logo.png"></a>
            </div>
        
            <div class="container">
                <article class="{% block article_class %}{% endblock %}">{% block content %}{% endblock %}</article>
            </div>
        </div>
        <footer class="container">{% block footer %}
            <section class="external">
             <div class="col">
                <h2>Connect with Source</h2>
                <ul>
                    {% if rss_link %}<li><i class="icon-rss"></i><a type="application/rss+xml" href="{{ rss_link }}">RSS for this page</a></li>{% endif %}
                    <li><i class="icon-envelope-alt"></i><a href="mailto:opennews@mozillafoundation.org">Contact us</a></li>
                    <li><i class="icon-bookmark"></i><a href="/about/">About us</a></li>
                    <li>Get the latest by <a href="http://planet.drumbeat.org/mojo/">subscribing to our news feed</a></li>
                    <li>Connect on Twitter <a href="http://twitter.com/source" class="twitter-follow-button" data-show-count="false">@source</a></li>
                    <li><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a> <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"> CC Attribution 3.0</a>
                    <li>Source is a project of <a href="http://www.mozillaopennews.org">Knight-Mozilla OpenNews</a></li>
                </ul>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="col">
                <h2>About OpenNews</h2>
                <p>A multi-year partnership between Mozilla and the Knight-Foundation, Knight-Mozilla OpenNews is dedicated to creating an ecosystem to help strengthen and build community around journalism on the web.</p>
                <p>For more information, visit <a href="http://www.mozillaopennews.org" target="_blank">mozillaopennews.org</a></p>
            </div>
            <div class="col">
                <h2>About Mozilla</h2>
                <p>Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good&mdash;by creating great software and fostering communities that build and grow the open web.</p>
                <p><a href="http://donate.mozilla.org/email">Sign up to hear more</a>, and, if you're willing, please <a href="http://donate.mozilla.org/join">join Mozilla.</a></p>
            </div>
       </div>
       </section>
        {% endblock footer %}</footer>

{% block site_js %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>
        {{ js('sourceapp_js') }}
        {% endblock %}{% block site_js_extra %}{% endblock %}
        
{% block google_analytics %}
        <script>
            window._gaq = [['_setAccount','UA-33507926-1'],['_trackPageview'],['_trackPageLoadTime']];
            Modernizr.load({
                load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
            });
        </script>{% endblock google_analytics %}
        
    </body>
</html>

