{% extends "people/_base_people.html" %}

{% block head_extra %}
{{ browserid_css() }}
{% endblock %}

{% block content %}
<div class="authentication">
    {{ browserid_info() }}
    {% if user.is_authenticated() %}
        {{ browserid_logout(text='Log out') }}
    {% else %}
        {{ browserid_login(text='Log in to change organization details') }}
    {% endif %}
</div>

<div id="organization-manage">
    {{ user }}, {{ organization }}
</div>

{% endblock content %}

{% block site_js_extra %}
    {{ browserid_js() }}
{% endblock %}
