{% extends "base.html" %}
{% set active_nav = "people" %}

{% block content %}
<h1 class="maintopic"><a href="{{ url('organization_list') }}">Organizations</a></h1>

{% for alpha in object_list|groupby('sort_letter') %}
    <h2 class="grouper-header"><span class="category">{{ alpha.grouper }}</span></h2>
    <div class="grouper-block">
    {% for organization in alpha.list %}
        {% if loop.first %}<ul class="link-list">{% endif %}
            <li><a href="{{ organization.get_absolute_url() }}">{{ organization.name }}</a></li>
        {% if loop.last %}</ul>{% endif %}
    {% endfor %}
    </div>
{% endfor %}
{% endblock content %}