{% extends "people/_base_organizations.html" %}

{% block page_title %}Update Your Organization - {{ super() }}{% endblock %}

{% block content %}
<p><strong>NOTE:</strong> We&rsquo;re updating the code that runs Source and transitioning away from the current login system, which is being shuttered in December 2016. The revised site will be ready in January, but there will be a short gap between the day logins are shut off and the day we&rsquo;re ready to relaunch. During that time, we&rsquo;d love to post your jobs for you! Please just <a class="send-message" href="mailto:ryanp@mozillafoundation.org?subject=Job listing for Source">email us the details</a>, and we&rsquo;ll post them. We&rsquo;ll share details about updated logins as soon as possible.</p>
{% endblock %}
