{% extends "people/_base_organizations.html" %}

{% block content %}
<div class="page-block">
    <h1 class="maintopic">
         <a href="{{ url('person_list') }}">People</a> / <span class="category">Organizations</span>
    </h1>
</div>

<div id="filterable-list">
{% for alpha in object_list|groupby('sort_letter') %}
    <div class="grouper-block filter-block">
        <h2 class="grouper-header"><span class="category">{{ alpha.grouper }}</span></h2>
        {% for row in alpha.list|slice(3) %}
        <ul class="link-list filter-list column-third">
            {% for organization in row %}
            <li><a href="{{ organization.get_absolute_url() }}">{{ organization.name }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock content %}

{% block site_js_extra %}
<script src="{{ MEDIA_URL }}js/listfilter.js"></script>
{% endblock %}
