{% extends "base.html" %}
{% set active_nav = "people" %}

{% block content %}
<div class="page-block">
    <h1 class="maintopic"><a href="{{ url('person_list') }}">People</a></h1>
</div>

{% for alpha in object_list|groupby('sort_letter') %}
    <h2 class="grouper-header"><span class="category">{{ alpha.grouper }}</span></h2>
    <div class="grouper-block">
    {% for person in alpha.list %}
        <ul class="link-list">
            <li><a href="{{ person.get_absolute_url() }}">{{ person.name() }}</a>
            {% if person.organizations.all() %}<br><i class="icon-cogs small"></i>{% for organization in person.organizations.all() %}<a class="small" href="{{ organization.get_absolute_url() }}">{{ organization.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</li>
        </ul>
    {% endfor %}
    </div>
{% endfor %}
{% endblock content %}